.imagemProvedor {
}




.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 107.78px;
  background-color: linear-gradient(to right, rgba(2, 225, 225, 1) 0%,
      rgba(2, 225, 225, 01) 100%);
}

.slider {
  height: 50px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 80%;
}

.slider .slide_track {
  -webkit-animation: scroll 30s linear infinite;
  animation: scroll 30s linear infinite;
  display: flex;
  width: calc(200px * 14);
}



.slider .slide {
  height: 100px;
  width: 100px;
}

.slider .slide img {
  width: 80%;
  height: 50px;

}

@-webkit-keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-250px * 7));
  }
}