#sectionOne {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 105px 112px 86px 112px;
}
#contentOne {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 123px;
}

#titleOne {
  color: #535353;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 24px;
}
#headline {
  font-size: 56px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -0.02em;
  text-align: center;
  margin-top: 16px;

  color: #7e06f2;
  max-width: 601px;
}

#subscriptionOne {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  margin-top: 48px;
  text-align: center;
  max-width: 633px;
  color: #535353;
}
#subscriptionSpan {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
}
#barrinha {
}

#containerDownload {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  margin-top: 48px;
  max-width: 380px;
}

#contentApple {
  text-decoration: none;
  background-color: #36007c;
  border: 1px solid #bab8c6;
  color: #ffffff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px 10px 15px;
  margin-right: 20px;
  max-width: 180px;
}

#contentPlayStore {
  background-color: #36007c;

  border: 1px solid #bab8c6;
  border-radius: 8px;
  color: #ffffff;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  max-width: 180px;
  padding: 10px 15px 10px 15px;
}
.contentText {
  margin-left: 14px;
}

.textDownload {
  font-family: Inter;
  font-size: 11px;
  font-weight: 500;
  line-height: 11px;
  letter-spacing: 0px;
  text-align: left;
}
.textLoja {
  font-family: Inter;
  font-size: 17px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

#sectionTwo {
  background: linear-gradient(
    45deg,
    #f5f5f5,
    rgba(229, 84, 243, 0.17),
    #f5f5f5
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 159px;
  align-items: center;
  align: center;
  justify: center;
}
#imgMobile {
  display: none;
}

#blocoImage {
  padding: 1% 55% 50px 0;
}
#iconRiscado {
  margin-top: -100px;
  margin-bottom: 100px;
}

#headlineTwo {
  font-size: 36px;
  font-weight: 600;
  line-height: 47px;
  letter-spacing: -0.02em;
  text-align: center;
  margin-bottom: 40px;
  color: #36007c;
}
#subscriptionTwo {
  color: #0e0e0e;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  max-width: 536px;
  text-align: center;
}
#contentTwoList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 63px;

  width: 73%;
}
#lista {
  display: flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
}

.itemlist {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 225px;
}

.titleListTwo {
  color: #36007c;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: -0.02em;
  padding: 25px 0 35px 0;
  text-align: left;
}
.descriptionListTwo {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
}

#sectionThree {
  background: linear-gradient(45deg, #17161c, #36007c);
  background: linear-gradient(45deg, #36007c, #17161c);
  padding-bottom: 72px;
}

#containerThree {
  display: flex;
  justify-content: space-between;
  padding: 120px 112px 152px 112px;

  @media (max-width: 943px) {
    flex-direction: column;
    justify-content: center;

    padding: 90px 112px 152px 90px;
  }
}

#titleThree {
  color: #ffffff;

  font-size: 36px;
  font-weight: 600;
  line-height: 47px;
  letter-spacing: -0.02em;
  max-width: 445px;
  text-align: left;
}
#descriptionThree {
  color: #d8d7de;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  max-width: 351px;
  margin-top: 27px;

  text-align: left;
}
#contentRightThree {
  color: #ffffff;
  display: flex;
  max-width: 633px;
}

.imageBox {
  margin-right: 24px;
}
#boxLeft {
  margin-right: 68px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 185px;
}
.boxItems {
  display: flex;
}

#boxRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 185px;
  margin-right: 81px;
}
.className {
  display: flex;
}
.boxTitle {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: -0.02em;
  text-align: left;
  margin-bottom: 4px;
  max-width: 162px;
}
.boxDetail {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}

#sectionFour {
  display: flex;
  padding: 50px 184px 118px 112px;
  justify-content: space-between;
}
#faq {
  background-color: #c182ff;
  max-height: 33px;
  max-width: 83px;

  border-radius: 40px;
  padding: 8px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
}
#headSix {
  color: #36007c;
  font-size: 40px;
  font-weight: 600;
  line-height: 60px;
  letter-spacing: 0em;
  max-width: 503px;
  text-align: left;
  margin: 27px 0 32px 0;
}
#buttonDownload {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  height: 56px;
  max-width: 280px;
  border-radius: 6px;
  padding: 13px 45px 13px 45px;
  background-color: #36007c;
}

#mostrarNoMobile {
  display: none;
}

@media (max-width: 768px) {
  #sectionOne {
    padding: 56px 0;
  }

  #contentOne {
    margin-bottom: 35px;
  }

  #titleOne {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.03em;
    text-align: center;

    margin-bottom: 14px;
  }

  #headline {
    font-family: Poppins;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0px;
    text-align: center;
  }

  #subscriptionOne {
    font-family: Inter;
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    max-width: 312px;
  }
  #subscriptionSpan {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
  }

  #barrinha {
    max-width: 300px;
  }

  #containerDownload {
    max-width: 321.93px;
  }

  #contentApple {
    margin-right: 10px;
  }

  .contentText {
    margin-left: 12px;
  }
  .textDownload {
    font-family: Inter;
    font-size: 10px;
    font-weight: 500;
    line-height: 10px;
    letter-spacing: 0px;
    text-align: center;
  }
  .textLoja {
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
  }

  #sectionTwo {
    padding-bottom: 35px;
  }

  #trocaImage {
    display: none;
  }

  #imgMobile {
    display:inline-flex;
    width: 100%;
  }
  #blocoImage {
    display: none;
  }

  #headlineTwo {
    font-family: Poppins;
    font-size: 28px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.02em;
    text-align: center;
    margin-bottom: 16px;
    padding: 0 20px;
  }

  #subscriptionTwo {
    font-family: Poppins;
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    padding: 0 20px;
  }

  #contentTwoList {
    flex-direction: column;
    margin-top: 63px;
    max-width: 254px;
  }
  #lista {
    display: none;
  }
  .itemlist {
    margin-bottom: 50px;
    max-width: 212px;
  }

  .titleListTwo {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: -0.02em;
    text-align: left;
    padding: 19px 0 8px 0;
  }

  .descriptionListTwo {
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
  }

  #sectionThree {
    padding-bottom: 23px;
  }

  #containerThree {
    flex-direction: column;
    align-items: center;
    padding: 64px 0 23px 0;
  }

  #containerThreeLeft {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 20px;
  }
  #titleThree {
    font-family: Poppins;
    font-size: 28px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.02em;
    text-align: left;
  }

  #descriptionThree {
    font-family: Poppins;
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 19px;
  }
  #contentRightThree {
    display: none;
  }

  #sectionFour {
    flex-direction: column;
    padding: 28px 24px 28px 24px;
  }

  #faq {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
  }

  #headSix {
    font-family: Poppins;
    font-size: 25px;
    font-weight: 600;
    line-height: 37px;
    letter-spacing: -0.005em;
    text-align: left;
    margin: 27px 0 19px 0;
  }
  #buttonDownload {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    padding: 13px 45px 13px 45px;
    max-width: 342px;
    display: none;
  }
  #mostrarNoMobile {
    display: flex;
    justify-content: center;
    background: #36007c;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    padding: 13px 45px 13px 45px;
    max-width: 342px;
    border-radius: 6px;
    padding: 13px 45px 13px 45px;
  }
}

@media (max-width: 320px) {
  #contentApple {
    margin-right: 5px;
  }
}
