#container {

  position: relative;
  padding: 90px auto;
  background-color: red;

}

.header-scrolled {
  opacity: 0.3;
}

#contentFixed {
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
}

#content {
  padding: 29px 112px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

#list {
  display: flex;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  list-style-type: none;
  text-align: left;
}

.itemsList {
  cursor: pointer;
  padding: 0 16px;
}

#duvidasApp {
  font-size: 17px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: right;
  text-decoration: none;
}

@media (max-width: 768px) {
  #container {
    padding: 29px 20px;
  }

  #list {
    display: none;
  }

  #duvidasApp {
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.03em;
  }

  #content {
    padding: 20px;
  }
}

@media (max-width: 320px) {
  #duvidasApp {
    font-size: 13px;

    text-align: left;
    width: 104px;
  }
}

#teste {
  background-color: red;
}